﻿@model _2FA_TOTP.Models.LoginModel

@{
    ViewBag.Title = "Login";
    var messageClass = Session["IsValid2FA"] == null || !(bool)Session["IsValid2FA"] ? "text-danger" : "";
}
    <h2>Step 1: Login</h2>
    <div class="@messageClass">@ViewBag.Message</div>
    <div>
        @using (Html.BeginForm())
        {
            <div class="form-group">
                <label for="UserName">UserName:</label>
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Admin" })
            </div>
            <div class="form-group">
                <label for="Password">Password:</label>
                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", type = "password", placeholder = "password" })
            </div>
            <input type="submit" value="Login" class="btn btn-default" />
        }
    </div>