﻿
@{
    ViewBag.Title = "Token";
    var messageClass = Session["IsValid2FA"] == null || !(bool)Session["IsValid2FA"] ? "text-danger" : "";
}

<h2>Step 2: Google Authenticator</h2>
<div class="@messageClass">@ViewBag.Message</div> <!-- Message -->
<div>
    <img src="@ViewBag.BarcodeImageUrl" /> <!-- QR Code-->
</div>
<div> <!-- Manual Code-->
    <h5>Manual Setup Up</h5>
    <p>Type the following code in your Google Authenticator App</p>
    <p>@ViewBag.SetupCode</p>
</div>
<div>
    @using (Html.BeginForm("Verify2Fa", "Home", FormMethod.Post))
    {
        <p>Enter Token:</p>
        <input type="text" name="passcode" />
        <input type="submit" class="btn btn-success" />
    }
</div>